<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .coba {
        color: blue;
      }
    </style>
  </head>
  <body>
    <center>
      <h1 class="coba">email Verifikasi</h1>
    </center>
    <div>
      halo, <span style="color: black; font-weight: 700">{{username}}</span> ini
      link verifikasi : klik <a href="{{link}}">link </a>
    </div>
  </body>
</html>
